@import "tailwindcss";

:root {
  --yellow: #c1ac15;
  --green: #0ea44d;
  --red: #d03739;
}

:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "InterVariable", sans-serif;
    font-optical-sizing: auto;
  }
}
@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
}

html,
body {
  @apply bg-neutral-950 text-white;
  color-scheme: dark;
}

.yellow {
  color: var(--yellow);
}

.green-fill {
  color: var(--green);
  fill: var(--green);
}

.red-fill {
  color: var(--red);
  fill: var(--red);
}

.button {
  @apply cursor-pointer p-1 text-neutral-400 hover:text-neutral-300 disabled:cursor-auto disabled:text-neutral-900;
}

.icon {
  @apply size-7;
}

kbd {
  @apply inline rounded border border-neutral-600 bg-neutral-800 px-1 text-center font-mono text-xs text-neutral-200 shadow-[0px_1px_0px_0px_rgba(255,255,255,0.1)];
}

/* Content styles */
.content {
  @apply size-full border-0 bg-neutral-950 outline-0 focus:outline-0;
  display: block;
  appearance: unset;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  /* https://kittygiraudel.com/2020/05/18/using-calc-to-figure-out-optimal-line-height/ */
  line-height: calc(10px + 2ex);
  cursor: default;
  padding-bottom: 75vh;
  resize: none;
}

.content-transition > span {
  transition:
    color 100ms linear,
    opacity 1500ms ease-in;
}

.interim-transcript {
  color: hsl(48, 100%, 67%);
}

.final-transcript {
  @apply text-neutral-600;
}

.content > span:hover {
  color: hsl(348, 86%, 61%);
  opacity: 100%;
}
