:root {
  --gray-950: #0a0a0a;
  --gray-900: #171717;
  --gray-800: #262626;
  --gray-700: #404040;
  --gray-600: #525252;
  --gray-500: #737373;
  --gray-400: #a3a3a3;
  --yellow: #c1ac15;
  --green: #0ea44d;
  --red: #d03739;
}

html,
body {
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background-color: var(--gray-950);
  color: white;
  color-scheme: dark;
}

.app {
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.yellow {
  color: var(--yellow);
}

.green-fill {
  color: var(--green);
  fill: var(--green);
}

.red-fill {
  color: var(--red);
  fill: var(--red);
}

/* Navbar styles */
.navbar {
  background-color: var(--gray-950);
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: 1fr;
}

.navbar-end {
  justify-content: end;
}

@media (max-width: 1200px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 1000px) {
  .navbar {
    justify-content: space-evenly;
  }
  .navbar-end {
    justify-content: center;
  }
}

.button,
.button:focus {
  color: var(--gray-500);
  padding: 0.25rem;
}

.button:disabled,
.button:disabled:hover {
  color: var(--gray-900);
}

.button:hover {
  color: var(--gray-400);
}

.icon {
  width: 2rem;
  height: 2rem;
}

input[type="range"] {
  width: 6rem;
}

/* Content styles */
.content {
  overflow: auto;
  background-color: var(--gray-950);
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 0;
  /* https://kittygiraudel.com/2020/05/18/using-calc-to-figure-out-optimal-line-height/ */
  line-height: calc(10px + 2ex);
  cursor: default;
  padding-top: 0.25rem;
  padding-bottom: 75vh;
}

.content:focus {
  outline: none;
}

.interim-transcript {
  color: hsl(48, 100%, 67%);
}

.final-transcript {
  color: var(--gray-700);
}

.content > span:hover {
  color: hsl(348, 86%, 61%) !important;
}
